html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family: Roboto, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', system-ui, -apple-system;
}

.form-label {
  text-align: right;
}

.home-page-text {
  border-left: 1px dotted rgb(204, 204, 204);
  padding-left: 25px;
  text-align: justify;
}

@media screen and (max-width: 767px) {
  .form-label {
    text-align: left;
  }
}

.external-icon-links {
  font-size: 2rem;
  margin-right: 5px;
}

.external-icon-links > a {
  text-decoration: none;
}